[submodule "hyades"]
	path = hyades
	url = https://github.com/csaf-sbom/hyades.git
[submodule "hyades-frontend"]
	path = hyades-frontend
	url = https://github.com/csaf-sbom/hyades-frontend.git
[submodule "hyades-apiserver"]
	path = hyades-apiserver
	url = https://github.com/csaf-sbom/hyades-apiserver.git
